#colorCabecera{
  background: #21B3AF;
  height: 250px;

}

#estiloPerfil{
  float: left;
  background: #000000;
  height: 250px;
  width: 200px;
  margin-top: 30px;
  margin-left: 20px;
}

#tipoPerfil{
  text-align: center;
  font-family: Arial;
  font-size: 35px;
}

#nombreCabecera{
  text-align: center;
  padding-top: 70px;
  font-size: 3em;
}

#footer{
  height: 200px;
  background: #747A7A;

}

#pie{
  text-align: center;
  padding-top: 150px;
}

.ajuste{
  width: 80%;
  text-align: center;
  margin: auto;
}
